player-connection-mode=Listen
player-connection-guid=4207171300
player-connection-debug=1
player-connection-project-name=ShootThePONIX
player-connection-ip=192.168.0.136
player-connection-ip=192.168.75.1
player-connection-ip=192.168.11.1
player-connection-ip=192.168.56.1
wait-for-native-debugger=0
wait-for-managed-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
